@media(max-width: 768px) {
    .rounded-t.bg-white.mb-0.px-6.py-6.title p {
      font-size: 16px;
    }

    .rounded-t.bg-white.mb-0.px-6.py-6.title {
      padding: 0px !important;
    }

    input#search {
      padding: 8px 35px !important;
      font-size: 11px;
    }

    button#btn_search {
      padding: 5px 7px;
    }

    .bottom-2\.5 {
      bottom: 4px !important;
    }

    .p-5 {
      padding: 4px !important;
    }

    .text-lg {
      font-size: 14px !important;
    }

    .p-2 {
      padding: 0px 5px !important;
    }

    .mt-6 {
      margin-top: 0px !important;
    }

    img.logo {
      width: 131px;
    }

    .py-1 {
      padding-left: 9px;
      padding-top: 0px !important;
      padding-bottom: 0px !important;
    }
  }